html{
    height: 100%;
}

body{
    background-image: url('../images/bg4.png');
    color : #000305;
    font-size: 100%;
    /* font-family: Arial,"Lucida Sans Unicode";*/
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    text-align: left;
    height: 100%;   
    margin: 0% 15% 0% 15%;
    width:70%;
    clear: both;
    padding:0%;
}

a{
    text-decoration: none;

}

a:link,a:visited{
    color:#6B888F;
    
}

a:hover, a:active{
    background-color: #C97808;
    color : #DCDFE0;
}


#imageId{
    background-image: url('../images/hallix.jpg');
    background-repeat: repeat;
    background-position: top center;
    background-size: contain;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    /*background-size: cover;*/
    background-attachment: fixed;
    width: 100%;
    //height: 270px;
    margin: 1% 0% 1% 0%;
    border-radius: 10px;

    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    

}


.imageDiv .header{
    margin: 1% 1% 1% 1%;
    float: left;
    width: 65%;
    text-align: center;
    display: inline;
    color : #DCDFE0;
    //height: 90%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.imageDiv .header .mainHeader{
    //height: 80%;

    
     width:100%;
}


#social{
    //height: 20%;
    width : 100%;
    //background-color: #ffffff;    
    margin: 23% 3% 1% 5%;
    float: left;
}



#social .imageLinks{
    float: left;
    margin: 0% 1%;
}

.imageDiv .bio{
    margin: 1% 1% 1% 1%;
    float: right;
    text-align: center;
    display: inline;
    color : #DCDFE0;
    //height: 90%;
    width: 24%;


    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}
.mainHeader nav{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainHeader nav ul{
    
    list-styles: none;
    margin:0 auto;
    
}

.mainHeader nav ul li{
    
    margin: 2% auto;
    float: left;
    display: inline;
    
}

.mainHeader nav a:link, .mainHeader nav a:visited{
    color: #DCDFE0;
    display: inline-block;
    padding: 10px 25px;
    height: 20px; 
}

.mainHeader nav a:hover, .mainHeader nav a:active,.mainHeader nav a.activeLink,.mainHeader nav a.focus{

    background-color: #C97808;
    text-shadow:none;
}

.mainHeader nav ul li a{


    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.mainContent {
    font-size: 90%;
    line-height:25px;
    border-radius: 5px;
    

    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -25px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.mainContent:after {
    content: "";
    display: block;
}

.mainFooter, .mainContent:after {
    /* .push must be the same height as footer */
    height: 25px; 
}

/*Just remove comment for sidebar*/
/*
  .content{
  width: 72%;
  float: left;
  }
  */

.actContent{
    background-color:#FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 4%;
    margin:0% 0% 1% 0%;
}


.sidebar{
    font-size: 90%;
    width: 21%;
    background-color:#FFFFFF;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin:0% 0% 1% 1%;
    padding:2% 3%;
}


.mainFooter {
    background-image: url('../images/hallix.jpg');
    background-repeat: repeat;
    background-position: top center;
    background-size: contain;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    
    background-attachment: fixed;
    color: #DCDFE0;
    width: 100%;
    float:left;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.postInfo{
    font-style:italic;
    color:#999;
    font-size:87%
}
.mainFooter p{

    width: 92%;
    margin:0.1% auto;
}


@media only screen and (min-width: 150px) and (max-width: 1000px)
{
    .body{  
	width:90%;
	font-size:95%;
	margin: 0% 5% 0% 5%;
    }
    
    
    #imageId{
	width: 100%;
	height: 160px;
    }
    
    .imageDiv .header{
	width: 100%;
	
    }
    .imageDiv .bio{
	width: 0%;
	display: none;
    }
    
    
    .mainHeader nav ul{

	padding-left:0;
	
    }

    .mainHeader nav ul li{
	width:100%;
	margin:0 auto;
	text-align:center;
	display: block;
    }

    .mainHeader nav a:link, .mainHeader nav a:visited{
	padding: 10px 25px;
	height: 20px; 
    }
    
    .content{
	width: 100%;
	float: left;
    }

    .actContent{
	margin:0.5% 0% 1% 0%;
    }

    .postInfo{
	display:none;
    }
    
    .sidebar{
	width: 94%;
	margin:0.5% 0% 1% 0%;
	padding:2% 3%;
    }
    .mainFooter{
	width: 100%;
	margin-top:1%;

    }
    

}

